<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Form Example</title>
</head>
<body>
  <h1>New</h1>


  <form action="/posts" method="post">
    <input type="text" id="username" name="username" placeholder="username"><br>
    <textarea name="content" id="" cols="30" rows="10" id="content" placeholder="Content"></textarea>
    
    
    <button type="submit">Submit</button>
  </form>
</body>
</html>
