*{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 2rem;
}

.post{
    background-color: lightblue;
    padding: 2vw 4vw;
    margin: 20px;
    text-align: center;
}

.user{
    font-size: 1.2rem;
}

a{
    margin-right: 20px;
}